<%- include('../partials/admin-header') %>

     
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            
            <!-- start......................................................... -->
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body" >
                    <div style="display: flex;">
                        <div style="width: 55%;">
                            <h4 class="card-title" style="text-align: end;">Add Offer</h4>

                        </div>
                        <div style="width: 45%;text-align: end;">
                            <a href="/admin/addOffer" style="text-decoration: none;"><div class="badge badge-outline-success">Add Offer</div></a> 

                        </div>
                    </div>
                    
                    

                    <br>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>                          
                            <th> No </th>
                            <th> Discount </th>
                            <th>Category Name</th>
                            <th>Product Name</th>
                            <th style="text-align: center;">Count</th>
                            <th>Expiry Date</th>
                            <th>peimision</th>
                            <th>Edit</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% for(var i =0;i<category.length;i++) {%>
                          <tr>
                            <td><%= i+1%></td>
                            <td><%= category[i].name %></td>
                            <td><%= category[i].discount %></td>
                            <td><%= category[i].categoryname %></td>
                            <td style="text-align: center;"><%= category[i].productname %></td>
                            <td><%= category[i].expirydate %></td>
                            <td><%= category[i].count %></td>
                            <td>
                              <% if(category[i].avilable == true) { %>
                                <a href="/admin/block-offer?id=<%= category[i]._id%>" style="text-decoration: none;"><div class="badge badge-outline-success">Block</div></a> 
                                <%}else{%>
                                  <a href="/admin/block-offer?id=<%= category[i]._id%>" style="text-decoration: none;"><div class="badge badge-outline-success">UnBlock</div></a>  
                                  <%}%>
                            </td>
                            <td>
                              <a href="/admin/editOffer?id=<%= category[i]._id%>" class="btn border-shadow update">
                                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                            </a>                            
                          </td>
                          </tr>
                         <%}%>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <!-- end......................................................... -->

            
            
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          

          <%- include('../partials/admin-footer') %>
