<%- include('../partials/admin-header') %>

     
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            
            <!-- start......................................................... -->
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">Product</h4>
                    <br>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            
                            <th> No </th>
                            <th> Name </th>
                            <th> Category </th>
                            <th> image </th>
                            <th> description </th>                           
                            <th> price </th>
                            <th> stock </th>
                            <th> status </th>
                            <th> Edit </th>
                          </tr>
                        </thead>
                        <tbody id="sample">
                          <% for(var i=0;i<6;i++){%>
                          <tr>
                            <td><%= i+1 %></td>
                            <td><%= products[i].name %></td>
                            <td><%= products[i].category %></td>
                            <td>
                              <a href="">
                                <% if(products[i].image) { %>
                                  <img src="<%= products[i].image[0] %>"
                                      width="100vw" height="100vh" alt="img">
                                  <% }else{ %>
                                      Image Not Found
                               <% } %>
                              </a>
                              </td>
                            <td><%= products[i].description %></td>
                            <td><%= products[i].price %></td>
                            <td><%= products[i].stock %></td>
                            <td>
                              <% if(products[i].isAvailable) { %>
                                <a href="/admin/block-products?id=<%= products[i]._id%>" style="text-decoration: none;"><div class="badge badge-outline-success">Block</div></a>  
                                <%}else{%>
                                  <a href="/admin/block-products?id=<%= products[i]._id%>" style="text-decoration: none;"><div class="badge badge-outline-success">UnBlock</div></a>  
                                  <%}%>
                            </td>
                            <td>
                              <a href="/admin/update-products?id=<%= products[i]._id%>" class="btn border-shadow update">
                                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                            </a>                            
                          </td>
                          </tr>
                          <%}%>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <!-- end......................................................... -->
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#" onclick="pagination(-1)">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#" onclick="pagination(-1)"><-</a></li>
              <li class="page-item" id="pageid"><a class="page-link" href="#" id="innerValue">1</a></li>
              <li class="page-item"><a class="page-link" href="#" onclick="pagination(1)" >-></a></li>
              <li class="page-item"><a class="page-link" href="#" onclick="pagination(1)">Next</a></li>
            </ul>
          </nav>
        </div>
       
            
            
          </div>
          
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->

          <script>


function pagination(value){  
        let innerValue = document.getElementById("innerValue").innerHTML
        // let innerSort = document.getElementById("innerValue").innerHTML
        console.log("first")
        fetch("/admin/poduct/pagin", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({ nextValue: value ,innerValue}),
            })
                .then((response) => {
                    console.log("5....");
                    const result = response.json();
                    // console.log(result);
                    return result;
                })
                .then((data) => {
                    console.log( data);
                    // resultcall(data)
                    let nextpage = data.pop()

                    respagelenght(nextpage)
                    resultcall(data);
                    
                })
                .catch((err) => console.log(err));


        console.log(value)
    }


    function respagelenght(data){

let productdiv = document.getElementById("pageid");
productdiv.innerHTML = "";

    const item = `<li class="page-item" id="pageid" ><a class="page-link" href="#" id="innerValue">${data}</a></li>`
    productdiv.innerHTML += item;
}

function resultcall(element) {
        let productdiv = document.getElementById("sample");

        productdiv.innerHTML = "";

        element.forEach((data,index) => {
            // console.log(element.image);
            const item = ` 
            <tr>
                            <td>${index+1}</td>
                            <td>${data.name}</td>
                            <td>${data.category}</td>
                            <td>
                              <a href="">
                        ${data.image ? `<img src="${data.image[0]}" width="100vw" height="100vh" alt="img">` : 'Image Not Found'}
                              </a>
                              </td>
                            <td>${data.description}</td>
                            <td>${data.price}</td>
                            <td> ${data.stock}</td>
                            <td>
                              ${data.isAvailable ? `<a href="/admin/block-products?id=${data._id}" style="text-decoration: none;"><div class="badge badge-outline-success">Block</div></a>` : `<a href="/admin/block-products?id=${data._id}" style="text-decoration: none;"><div class="badge badge-outline-success">UnBlock</div></a>`}
                            </td>
                            <td>
                              <a href="/admin/update-products?id=${data._id}" class="btn border-shadow update">
                                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                            </a>
                          </td>
                          </tr>
        `;
            productdiv.innerHTML += item;
        });
    }

          </script>
          

          <%- include('../partials/admin-footer') %>
