<%- include('../partials/user-header') %>

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			<div class="checkout-discount">
            				<form action="" method="" onsubmit="couponCheck()">
								<div style="display: flex;">
									<div>
										<input type="text" class="form-control" name="coupon"  id="checkout-discount-input">
									<label for="checkout-discount-input" class="text-truncate">Have a coupon?</label>
									</div>
									<div >
										<button type="submit" class="btn btn-primary mr-2" style="width: 2px;">Submit</button>
									</div>
								</div>	
							</form>
							<div id="toast"></div>
            			</div><!-- End .checkout-discount -->
            			
		                	<div class="row">
		                		<div class="col-lg-7">
									<!-- <form action="/oddersuccesspost" method="post" onsu>	 -->
								<form  onsubmit=" odderPost();return false">	
									<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th><p >Product</p></th>
		                							<th><p>Name</p></th>
													<th><p>Price</p></th>
		                							<th><p>Quantity</p></th>
													<th><p>Total</p></th>
		                							
		                						</tr>
		                					</thead>

		                					<tbody>
		                						<tr>

													<% for(var i=0;i<products.length;i++){%>

											
														<tr>
															<!-- <h1>........</h1> -->
															<td class="product-col">
																<div class="product">
																	<figure class="product-media">
																		<a href="#">
																			<% if(products[i].image) { %>
																				<img src="<%= products[i].image[0] %>" alt="img" class="product-image" />
																				<% }else{ %> Image Not Found <% } %>
																		</a>
																	</figure>
				
																	<!-- <h3 class="">
																		<p><%= products[i].name %></p>
																		
																	</h3> -->
																</div><!-- End .product -->
															</td>
															<td><p><%= products[i].name %></p></td>
															<td class="" ><%= products[i].price %></td>
															<td class="product-col" style="text-align: center;">
				
																<% for(var j=0;j<userdt.cart.item.length;j++){%>
				
																<!-- <div class="" > -->
																	
																	<% if( products[i]._id.toString()  ==  userdt.cart.item[j].productId.toString() ) { %>
																		<span id="sample" ><%= userdt.cart.item[j].qty %></span>&nbsp&nbsp;
																		<% } %>	
				
											
																<!-- </div> -->
																<%}%>
				
															</td>
															
															<td class="">
																<% for(var l=0;l<userdt.cart.item.length;l++){%>
				
																<% if( products[i]._id.toString()  ==  userdt.cart.item[l].productId.toString() ) { %>
																	<span id="sample"><%= userdt.cart.item[l].singletotal %></span>
																<% } %>
				
																<%}%>
															</td>
														</tr>
														
				
														<%}%>

		                						</tr>

		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td><%= userdt.cart.totalPrice %></td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Shipping: 0</td>
		                							<td>Free shipping</td>
		                						</tr>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td id='payable'><%= userdt.cart.totalPrice %></td>
		                						</tr><!-- End .summary-total -->
												<tr>
													
												</tr>
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">
										    

										    

										    <div class="card">
										        <div class="card-header" id="heading-3">
										            <h2 class="card-title">

										                <p class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
										                  <input type="radio"  onclick="payments('Cash on delivery')" placeholder="" name="payment" value="Cash on delivery">  Cash on delivery
														</p>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
										            <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. 
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										    <div class="card">
										        <div class="card-header" id="heading-4">
										            <h2 class="card-title">
										                <p class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
															<input type="radio"  onclick="payments('Razorpay')"  placeholder="" name="payment" value="Razorpay"> Razorpay <small class="float-right paypal-link">What is Razorpay?</small>
														</p>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
										            <div class="card-body">
										                Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										    
										</div><!-- End .accordion -->
										<!-- <a href="/oddersuccess"> -->
											<button id="rzp-button" type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
											<span class="btn-text">Place Order</span>
											<span class="btn-hover-text">Proceed to Checkout</span>
										</button>
										<!-- </a> -->
										
		                				
		                			</div><!-- End .summary -->	
									<table class="table table-summary" style="border: solid 1px;">
										<thead>
											<tr>
											<th style="text-align: center;">Coupon Name</th>
											<th style="text-align: center;">Coupon Code</th>
											<th style="text-align: center;">Offer Percentage</th>
											</tr>
											
										</thead>
										<tbody>
											<% for(var i=0;i<coupon.length;i++){%>
											<tr>
												<td style="text-align: center;"><%= coupon[i].name %></td>
												<td style="text-align: center;"><%= coupon[i].code %></td>
												<td style="text-align: center;"><%= coupon[i].percent %></td>
											</tr>
											<%}%>
										</tbody>	
								</table>
								
								</div><!-- End .col-lg-9 -->
									
		                		<aside class="col-lg-5">

										<!-- ............................ -->

										<% for(var i=0;i<productad.length;i++){%>
										
											<div class="card card-dashboard">
												<div class="card-body">
													<h3 class="card-title">Address</h3><!-- End .card-title -->
	
													<p><%= productad[i].fullname %><br>
														<%= productad[i].phone1 %><br>
														<%= productad[i].pincode %><br>
														<%= productad[i].state %><br>
														<%= productad[i].city %><br>
														<%= productad[i].houseNo %><br>
														<%= productad[i].roadName %><br>
													<a href="#">Edit <i class="icon-edit"></i></a></p>
												</div><!-- End .card-body -->
												<label for="" style="text-align: center;">Select Address</label>
												<input type="radio" onclick="address('<%= productad[i]._id%>')" value="<%= productad[i]._id %>" name="addresid">
												<br>
											</div><!-- End .card-dashboard -->
											
											<%}%>
											<br>
										</form>

										<form action="">
										<h2 class="checkout-title">Add New Address</h2><!-- End .checkout-title -->
											<div class="row">
												<div class="col-sm-6">
													<label>Full Name *</label>
													<input type="text" class="form-control" >
												</div><!-- End .col-sm-6 -->
	
												<div class="col-sm-6">
													<label>Phone Number *</label>
													<input type="text" class="form-control" >
												</div>
											</div><!-- End .row -->
	
											<label>State </label>
											<input type="text" class="form-control">
	
											<label>City *</label>
											<input type="text" class="form-control" >            				
	
											<div class="row">
												<div class="col-sm-6">
													<label>House No *</label>
													<input type="text" class="form-control" >
												</div><!-- End .col-sm-6 -->
	
												<div class="col-sm-6">
													<label>Road Name *</label>
													<input type="text" class="form-control" >
												</div><!-- End .col-sm-6 -->
											</div><!-- End .row -->
											<div style="display: flex;">
												<div style="flex: 1;"></div>
												<div style="flex: 2;">
													<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block" >
														<span class="btn-text">Add Address</span>
														<span class="btn-hover-text">Save</span>
													</button>
												</div>
												<div style="flex: 1;"></div>
											</div>
										</form>


									<!-- ............................ -->

	
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
		<script>

	let addressval ;
    let paymentval ;

	function address(value){
		addressval=value
		console.log(addressval+"addressval")
	}

	function payments(value){
		paymentval=value
		console.log(paymentval+"payment")
	}

			function couponCheck(){
				let cop = document.getElementById("checkout-discount-input").value
				console.log(cop+"cop")
				fetch('/couponCodeCheck', {
                method: 'put',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ coupon:cop}) // Replace this with your data
            })
            .then(response => {
                // Handle the response as needed
                console.log('PUT request sent');
            })
            .catch(error => {
                // Handle any errors
                console.error('Error sending PUT request:', error);
            });
			}

			function odderPost(){

				console.log(addressval)
				console.log(paymentval) 
				// /oddersuccesspost
				fetch("/odder/successpost/Check", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({}),
            })
                .then((response) => {
                    return response.json();
                
                })
                .then((data) => {
					console.log("data response");
					if(data.odderNext == true){
							
						fetch("/oddersuccesspost", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({addresid:addressval,payment:paymentval}),
            })
                .then((response) => {
                    return response.json();
                
                })
                .then((data) => {
					
					if(data?.payment == "Cash on delivery" ){
						
						console.log("Cash on delivery odder successful");
						showToast('odder successful');
						window.location.href = '/oddersuccess';
					}else{
						console.log("razorpay odder successful");
						console.log(data);
						
						rpcall(data)
						
					}

                })
                .catch((err) => console.log(err));

					}else{
						console.log("odderNext false continue");
						showToast('Product not avilable');
					}

					// rpcall(data)
					// Example usage:
    				// showToast('odder successfull!');
                })
                .catch((err) => console.log(err));
				

			}

			
			

			// function checkOutBlock(data, payment) {

               
			// 	}

				function rpcall(data){

					console.log("rpcall start");
					let {amount,id} = data.order
					console.log(amount,id)
					console.log(typeof(amount));

					var options = {
    "key": "rzp_test_zVBhrL4CVfIezv", // Enter the Key ID generated from the Dashboard
    "amount": amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": data.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        // alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)
		showToast('Odder successful');
		window.location.href = '/oddersuccess';
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};

var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){

	// showToast('Odder Failed');

        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
rzp1.open();
				}
			
		</script>

		
<script>
    // Function to create and display a toast
    function showToast(message) {
        // Create a new div element for the toast
        var toast = document.createElement('div');
        toast.id = 'toast';
        toast.textContent = message;

        // Append the toast to the body
        document.body.appendChild(toast);

        // Show the toast
        toast.style.display = 'block';

        // Hide the toast after a delay (e.g., 3 seconds)
        setTimeout(function() {
            toast.style.display = 'none';
        }, 5000);
    }

    
</script>
		


        <%- include('../partials/user-footer') %>