<%- include('../partials/user-header') %>

<main class="main">
    <div class="intro-slider-container">
        <div
            class="intro-slider owl-carousel owl-simple owl-nav-inside"
            data-toggle="owl"
            data-owl-options='{
                        "nav": false,
                        "responsive": {
                            "992": {
                                "nav": true
                            }
                        }
                    }'
        >
            <div class="intro-slide" style="background-image: url(assets/images/demos/demo-13/slider/slide-1.png)">
                <div class="container intro-content">
                    <div class="row">
                        <div class="col-auto offset-lg-3 intro-col">
                            <h3 class="intro-subtitle">Trade-In Offer</h3>
                            <!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title">
                                MacBook Air <br />Latest Model
                                <span>
                                    <sup class="font-weight-light">from</sup>
                                    <span class="text-primary">$999<sup>,99</sup></span>
                                </span>
                            </h1>
                            <!-- End .intro-title -->

                            <a href="category.html" class="btn btn-outline-primary-2">
                                <span>Shop Now</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>
                        </div>
                        <!-- End .col-auto offset-lg-3 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .container intro-content -->
            </div>
            <!-- End .intro-slide -->

            <div class="intro-slide" style="background-image: url(assets/images/demos/demo-13/slider/slide-2.jpg)">
                <div class="container intro-content">
                    <div class="row">
                        <div class="col-auto offset-lg-3 intro-col">
                            <h3 class="intro-subtitle">Trevel & Outdoor</h3>
                            <!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title">
                                Original Outdoor <br />Beanbag
                                <span>
                                    <sup class="font-weight-light line-through">$89,99</sup>
                                    <span class="text-primary">$29<sup>,99</sup></span>
                                </span>
                            </h1>
                            <!-- End .intro-title -->

                            <a href="category.html" class="btn btn-outline-primary-2">
                                <span>Shop Now</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>
                        </div>
                        <!-- End .col-auto offset-lg-3 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .container intro-content -->
            </div>
            <!-- End .intro-slide -->

            <div class="intro-slide" style="background-image: url(assets/images/demos/demo-13/slider/slide-3.jpg)">
                <div class="container intro-content">
                    <div class="row">
                        <div class="col-auto offset-lg-3 intro-col">
                            <h3 class="intro-subtitle">Fashion Promotions</h3>
                            <!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title">
                                Tan Suede <br />Biker Jacket
                                <span>
                                    <sup class="font-weight-light line-through">$240,00</sup>
                                    <span class="text-primary">$180<sup>,99</sup></span>
                                </span>
                            </h1>
                            <!-- End .intro-title -->

                            <a href="category.html" class="btn btn-outline-primary-2">
                                <span>Shop Now</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>
                        </div>
                        <!-- End .col-auto offset-lg-3 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .container intro-content -->
            </div>
            <!-- End .intro-slide -->
        </div>
        <!-- End .owl-carousel owl-simple -->

        <span class="slider-loader"></span
        ><!-- End .slider-loader -->
    </div>
    <!-- End .intro-slider-container -->

    <div class="mb-4"></div>
    <!-- End .mb-2 -->

     <!-- **************************** -->
    <div id="sample">
     <!-- **************************** -->
    <div class="container">
        <h2 class="title text-center mb-2">Explore Popular Categories</h2>
        <!-- End .title -->

        <div class="cat-blocks-container">
            <div class="row">
                <div class="col-6 col-sm-3 col-lg-3">
                    <a href="#" class="cat-block">
                        <figure>
                            <span>
                                <img src="<%= products[13].image[0] %>" alt="img" class="product-image" style="width: 100px;height: 100px;" />
                            </span>
                        </figure>

                        <h3 class="cat-block-title"><%= products[1].name %></h3>
                        <!-- End .cat-block-title -->
                    </a>
                </div>

                <div class="col-6 col-sm-3 col-lg-3">
                    <a href="#" class="cat-block">
                        <figure>
                            <span>
                                <img src="<%= products[7].image[0] %>" alt="img" class="product-image" style="width: 100px;height: 100px;" />
                            </span>
                        </figure>

                        <h3 class="cat-block-title"><%= products[7].name %></h3>
                        <!-- End .cat-block-title -->
                    </a>
                </div>

                <div class="col-6 col-sm-3 col-lg-3">
                    <a href="#" class="cat-block">
                        <figure>
                            <span>
                                <img src="<%= products[1].image[0] %>" alt="img" class="product-image" style="width: 100px;height: 100px;" />
                            </span>
                        </figure>

                        <h3 class="cat-block-title"><%= products[1].name %></h3>
                        
                    </a>
                </div>

                <div class="col-6 col-sm-3 col-lg-3">
                    <a href="#" class="cat-block">
                        <figure>
                            <span>
                                <img src="<%= products[14].image[0] %>" alt="img" class="product-image" style="width: 100px;height: 100px;" />
                            </span>
                        </figure>

                        <h3 class="cat-block-title"><%= products[14].name %></h3>
                        
                    </a>
                </div>
                <!-- End .col-sm-4 col-lg-2 -->
            </div>
            <!-- End .row -->
        </div>
        <!-- End .cat-blocks-container -->
    </div>
    <!-- End .container -->

    <div class="mb-2"></div>
    <!-- End .mb-2 -->

    <div class="mb-3"></div>
    <!-- End .mb-3 -->

    <div class="bg-light pt-3 pb-5">
        <div class="container">
            <div class="heading heading-flex heading-border mb-3">
                <div class="heading-left">
                    <h2 class="title">HeadPhones</h2>
                    <!-- End .title -->
                </div>
                <!-- End .heading-left -->

                <div class="heading-right">
                    <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                id="hot-all-link"
                                data-toggle="tab"
                                href="#hot-all-tab"
                                role="tab"
                                aria-controls="hot-all-tab"
                                aria-selected="true"
                                >All</a
                            >
                        </li>
                    </ul>
                </div>
                <!-- End .heading-right -->
            </div>
            <!-- End .heading -->

            <div class="tab-content tab-content-carousel">
                <div class="tab-pane p-0 fade show active" id="hot-all-tab" role="tabpanel" aria-labelledby="hot-all-link">
                    <div
                        class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
                        data-toggle="owl"
                        data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1280": {
                                            "items":5,
                                            "nav": true
                                        }
                                    }
                                }'
                    >
                        <% for(var i=0;i<producthe.length;i++){%>
                        <div class="product">
                            <figure class="product-media">
                                <span class="product-label label-sale">offer <%= offerhf.discount%>%</span>
                                <a href="/single-product?id=<%= products[i]._id%>">
                                    <% if(producthe[i].image) { %>
                                    <img src="<%= producthe[i].image[0] %>" alt="img" class="product-image" />
                                    <% }else{ %> Image Not Found <% } %>
                                </a>

                                <div class="product-action-vertical">
                                    <form onsubmit="return false">
                                        <button class="btn-product-icon btn-wishlist btn-expandable" onclick="addtowishlist('<%= producthe[i]._id %>','<%= producthe[i].price %>')" type="submit"><span>add to wishlist</span></button>
                                    </form>
                                </div>
                                <!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <form onsubmit="return false">
                                        <button class="btn-product btn-cart" title="Add to cart" onclick="addtocart('<%= producthe[i]._id %>','<%= producthe[i].price %>')" type="submit"><span>add to cart</span></button>
                                    </form>
                                </div>
                                <!-- End .product-action -->
                            </figure>
                            <!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <!-- <a href="#"><%= producthe[i].name %></a> -->
                                </div>
                                <!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html"><%= producthe[i].name %></a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    <span class="new-price">$<%= producthe[i].price %></span>
                                    <!-- <span class="old-price">Was $290.00</span> -->
                                </div>
                                <!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 100%"></div>
                                        <!-- End .ratings-val -->
                                    </div>
                                    <!-- End .ratings -->
                                    <span class="ratings-text">( 2 Reviews )</span>
                                </div>
                                <!-- End .rating-container -->
                            </div>
                            <!-- End .product-body -->
                        </div>
                        <!-- End .product -->

                        <%}%>
                    </div>
                    <!-- End .owl-carousel -->
                </div>
                <!-- .End .tab-pane -->
            </div>
            <!-- End .tab-content -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End .bg-light pt-5 pb-5 -->

    <div class="mb-3"></div>
    <!-- End .mb-3 -->

    <div class="container electronics">
        <div class="heading heading-flex heading-border mb-3">
            <div class="heading-left">
                <h2 class="title">Speaker</h2>
                <!-- End .title -->
            </div>
            <!-- End .heading-left -->

            <div class="heading-right">
                <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            id="elec-new-link"
                            data-toggle="tab"
                            href="#elec-new-tab"
                            role="tab"
                            aria-controls="elec-new-tab"
                            aria-selected="true"
                            >New</a
                        >
                    </li>
                </ul>
            </div>
            <!-- End .heading-right -->
        </div>
        <!-- End .heading -->

        <div class="tab-content tab-content-carousel">
            <div class="tab-pane p-0 fade show active" id="elec-new-tab" role="tabpanel" aria-labelledby="elec-new-link">
                <div
                    class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
                    data-toggle="owl"
                    data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1280": {
                                        "items":5,
                                        "nav": true
                                    }
                                }
                            }'
                >
                    <!-- product............................................................................................ -->
                    <% for(var i=0;i<productsp.length;i++){%>
                    <div class="product">
                        <figure class="product-media">
                            <span class="product-label label-new">offer <%= offersp.discount%>%</span>
                            <a href="/single-product?id=<%= productsp[i]._id%>">
                                <% if(productsp[i].image) { %>
                                <img src="<%= productsp[i].image[0] %>" alt="img" class="product-image" />
                                <% }else{ %> Image Not Found <% } %>
                            </a>

                            <div class="product-action-vertical">
                                <form onsubmit="return false">
                                    <button class="btn-product-icon btn-wishlist btn-expandable" onclick="addtowishlist('<%= productsp[i]._id %>','<%= productsp[i].price %>')" type="submit"><span>add to wishlist</span></button>
                                </form>

                               
                                

                            </div>
                            <!-- End .product-action-vertical -->

                            <div class="product-action">
                                <form onsubmit="return false">
                                    <button class="btn-product btn-cart" title="Add to cart" onclick="addtocart('<%= productsp[i]._id %>','<%= productsp[i].price %>')" type="submit"><span>add to cart</span></button>
                                </form>

                                
                                
                            </div>
                            <!-- End .product-action -->
                        </figure>
                        <!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <!-- <a href="#">Appliances</a> -->
                            </div>
                            <!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html"><%= productsp[i].name%></a></h3>
                            <!-- End .product-title -->
                            <div class="product-price">$<%= productsp[i].price %></div>
                            <!-- End .product-price -->
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 80%"></div>
                                    <!-- End .ratings-val -->
                                </div>
                                <!-- End .ratings -->
                                <span class="ratings-text">( 12 Reviews )</span>
                            </div>
                            <!-- End .rating-container -->
                        </div>
                        <!-- End .product-body -->
                    </div>
                    <!-- End .product -->

                    <%}%>
                </div>
                <!-- End .owl-carousel -->
            </div>
            <!-- .End .tab-pane -->
        </div>
        <!-- End .tab-content -->
    </div>
    <!-- End .container -->

    <div class="mb-3"></div>
    <!-- End .mb-3 -->

    <div class="mb-1"></div>
    <!-- End .mb-1 -->

    <div class="container furniture">
        <div class="heading heading-flex heading-border mb-3">
            <div class="heading-left">
                <h2 class="title">Watch</h2>
                <!-- End .title -->
            </div>
            <!-- End .heading-left -->

            <div class="heading-right">
                <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            id="furn-new-link"
                            data-toggle="tab"
                            href="#furn-new-tab"
                            role="tab"
                            aria-controls="furn-new-tab"
                            aria-selected="true"
                            >New</a
                        >
                    </li>
                </ul>
            </div>
            <!-- End .heading-right -->
        </div>
        <!-- End .heading -->

        <div class="tab-content tab-content-carousel">
            <div class="tab-pane p-0 fade show active" id="furn-new-tab" role="tabpanel" aria-labelledby="furn-new-link">
                <div
                    class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
                    data-toggle="owl"
                    data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1280": {
                                        "items":5,
                                        "nav": true
                                    }
                                }
                            }'
                >
                    <!-- product....................................... -->
                    <% for(var i=0;i<productwa.length;i++){%>
                
                    <div class="product">
                        <figure class="product-media">
                            <span class="product-label label-new">New</span>
                           
                            <a href="/single-product?id=<%= productwa[i]._id%>">
                                <% if(productwa[i].image) { %>
                                <img src="<%= productwa[i].image[0] %>" alt="img" class="product-image" />
                                <% }else{ %> Image Not Found <% } %>
                            </a>

                            <div class="product-action-vertical">
                               
                                    <form onsubmit="return false">
                                        <button class="btn-product-icon btn-wishlist btn-expandable" onclick="addtowishlist('<%= productwa[i]._id %>','<%= productwa[i].price %>')" type="submit"><span>add to wishlist</span></button>
                                    </form>

                            </div>
                            <!-- End .product-action-vertical -->

                            <div class="product-action">
                                <form onsubmit="return false">
                                <button class="btn-product btn-cart" title="Add to cart" onclick="addtocart('<%= productwa[i]._id %>','<%= productwa[i].price %>')" type="submit"><span>add to cart</span></button>
                                </form>
                            </div>

                            <!-- End .product-action -->
                        </figure>
                        <!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <!-- <a href="#">Tables</a> -->
                            </div>
                            <!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html"><%= productwa[i].name %></a></h3>
                            <!-- End .product-title -->
                            <div class="product-price">$<%= productwa[i].price %></div>
                            <!-- End .product-price -->
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 80%"></div>
                                    <!-- End .ratings-val -->
                                </div>
                                <!-- End .ratings -->
                                <span class="ratings-text">( 12 Reviews )</span>
                            </div>
                            <!-- End .rating-container -->

                            <div class="product-nav product-nav-dots">
                                <a href="#" class="active" style="background: #333333"
                                    ><span class="sr-only">Color name</span></a
                                >
                                <a href="#" style="background: #e2e2e2"><span class="sr-only">Color name</span></a>
                            </div>
                            <!-- End .product-nav -->
                        </div>
                        <!-- End .product-body -->
                    </div>
                    <!-- End .product -->

                    <%}%>
                </div>
                <!-- End .owl-carousel -->
            </div>
            <!-- .End .tab-pane -->
        </div>
        <!-- End .tab-content -->
    </div>
    <!-- End .container -->
    </div>
    <!-- **************************** -->
    <div class="mb-3"></div>
    <!-- End .mb-3 -->

    <div class="mb-3"></div>
    <!-- End .mb-3 -->
</main>
<!-- End .main -->


<script>
    function abc(a,b){
        console.log("start")
        console.log(a)
        console.log(b)

    }

            function addtocart(i,p) {
              
              let productid = document.getElementById("productid")
              let productprice = document.getElementById("productprice")

              let valid = i
              let pric = p

                console.log("haiii")
                console.log(valid+"valid")
                console.log(pric+"price")
            fetch('/addcart', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: valid,price:pric }) // Replace this with your data
            })
            .then(response => {
                // Handle the response as needed
                console.log('PUT request sent');
            })
            .catch(error => {
                // Handle any errors
                console.error('Error sending PUT request:', error);
            });
        }


        function addtowishlist(i,p) {
              let productid = document.getElementById("productid")
              let productprice = document.getElementById("productprice")

              let valid = i
              let pric = p

                console.log("haiii")
                console.log(valid+"valid")
                console.log(pric+"price")
            fetch('/addwishlist', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: valid,price:pric }) // Replace this with your data
            })
            .then(response => {
                // Handle the response as needed
                console.log('PUT request sent');
            })
            .catch(error => {
                // Handle any errors
                console.error('Error sending PUT request:', error);
            });
        }

        function productsearch(){        
        
        const value = document.getElementById("searchValue").value

        fetch("/poduct/search", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({ va: value }),
            })
                .then((response) => {
                    console.log("5....");
                    const result = response.json();
                    // console.log(result);
                    return result;
                })
                .then((data) => {
                    console.log("data==" + data);

                    resultcall(data);
                })
                .catch((err) => console.log(err));


        console.log(value)
    }

        //*********************** Resultcall ***********************//

        function resultcall(data) {
        let productdiv = document.getElementById("sample");

        productdiv.innerHTML = "";

        data.forEach((element) => {
            console.log(element.image);
            const item = ` 
        <div class="col-6 col-md-4 col-xl-3">
                                    <div class="product">
                                        <figure class="product-media">
                                    <span class="product-label label-new">New</span>

                                    <a href="/single-product?id=${element._id}">
                                        <img src="${element.image[0]}" alt="img" class="product-image" />
                                      
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action-vertical -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <!-- <a href="#">Appliances</a> -->
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html">${element.name}</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        ${element.price}
                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 12 Reviews )</span>
                                    </div><!-- End .rating-container -->
                                </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-md-4 col-xl-3 -->
        `;
            productdiv.innerHTML += item;
        });
    }

</script>

<%- include('../partials/user-footer') %>
