<%- include('../partials/user-header') %>


<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container"></div>
        <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-xl-4-5col">
                    <div class="mb-3"></div>
                    <!-- End .mb-3 -->

                    <div class="mb-3 mb-lg-5"></div>
                    <!-- End .mb-3 mb-lg-5 -->

                    <!-- <div class="cat-blocks-container">
                    
                    </div> -->
                    <!-- End .cat-blocks-container -->

                    <div class="mb-2"></div>
                    <!-- End .mb-2 -->

                    <h2 class="title title-border">Featured Items</h2>
                    <!-- End .title -->

                    <div class="mb-4"></div>

                    <!-- End .toolbox -->

                    <div class="products mb-3">
                        <div class="row" id="sample">
                            <% for(var i=0;i<4;i++){%>
                                <div class="col-6 col-md-4 col-xl-3" >
                                    <div class="product">
                                        <figure class="product-media">
                                            <span class="product-label label-new">New</span>
                                            
                                            <a href="/single-product?id=<%= products[i]?._id%>">
                                                <% if(products[i]?.image) { %>
                                                <img src="<%= products[i]?.image[0] %>" alt="img" class="product-image" />
                                                <% }else{ %> Image Not Found <% } %>
                                            </a>

                                            <div class="product-action-vertical">
                                                <form onsubmit="return false">
                                                    <button class="btn-product-icon btn-wishlist btn-expandable" onclick="addtowishlist('<%= products[i]?._id %>','<%= products[i]?.price %>')" type="submit"><span>add to wishlist</span></button>
                                                </form>                                            </div><!-- End .product-action-vertical -->

                                            <div class="product-action">
                                                <form onsubmit="return false">
                                                    <button class="btn-product btn-cart" title="Add to cart" onclick="addtocart('<%= products[i]?._id %>','<%= products[i]?.price %>')" type="submit"><span>add to cart</span></button>
                                                </form>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <!-- <a href="#">Appliances</a> -->
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="product.html"><%= products[i]?.name %></a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                $<%= products[i]?.price %>
                                            </div><!-- End .product-price -->
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 12 Reviews )</span>
                                            </div><!-- End .rating-container -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-md-4 col-xl-3 -->
                                
                                <%}%>
                        </div>
                        <!-- End .row -->
                    </div>

                    <div class="products mb-3">
                        
                    </div>

                    <!-- End .products -->

                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <!-- disabled -->
                            <li class="page-item " onclick="pageright(-1,'<%= products.length%>')">
                                <a
                                    class="page-link page-link-prev"
                                    href="#"
                                    aria-label="Previous"
                                    tabindex="-1"
                                    aria-disabled="true"
                                >
                                    <span aria-hidden="true"><i class="icon-long-arrow-left" ></i></span>Prev
                                </a>
                                
                            </li>
                            <li class="page-item active" id="pageid" aria-current="page"><a class="page-link" href="#" id="innerValue">1</a></li>
                            <li class="page-item" onclick="pageright(1,'<%= products.length%>')">
                                <a class="page-link page-link-next" href="#" aria-label="Next">
                                     <span aria-hidden="true" >Next<i class="icon-long-arrow-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- End .col-lg-9 -->

                <aside class="col-lg-3 col-xl-5col order-lg-first">
                    <div class="sidebar sidebar-shop">
                        <div class="widget">
                            <h3 class="widget-title">Categories</h3>
                            <!-- End .widget-title -->

                            <div class="widget-body">
                                <div class="filter-items">
                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input
                                                type="checkbox"
                                                onclick="getCategory('HEADPHONE')"
                                                class="custom-control-input"
                                                id="brand-1"
                                            />
                                            <label class="custom-control-label" for="brand-1">headphones</label>
                                        </div>
                                        <!-- End .custom-checkbox -->
                                    </div>
                                    <!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input
                                                type="checkbox"
                                                onclick="getCategory('WATCH')"
                                                class="custom-control-input"
                                                id="brand-6"
                                            />
                                            <label class="custom-control-label" for="brand-6">watch</label>
                                        </div>
                                        <!-- End .custom-checkbox -->
                                    </div>
                                    <!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input
                                                type="checkbox"
                                                onclick="getCategory('SPEAKER')"
                                                class="custom-control-input"
                                                id="brand-7"
                                            />
                                            <label class="custom-control-label" for="brand-7">speaker</label>
                                        </div>
                                        <!-- End .custom-checkbox -->
                                    </div>
                                    <!-- End .filter-item -->
                                </div>
                                <!-- End .filter-items -->
                            </div>
                            <!-- End .widget-body -->
                        </div>
                        <!-- End .widget -->

                        <div class="widget">
                            <h3 class="widget-title">Price</h3>
                            <!-- End .widget-title -->

                            <div class="widget-body">
                                <div class="filter-items">
                                    <div class="filter-item">
                                        <div class="custom-control custom-radio">
                                            <input
                                                type="radio"
                                                class="custom-control-input"
                                                id="price-1"
                                                name="filter-price"
                                                onclick="priceSort(1)"
                                                value=""
                                            />
                                            <label class="custom-control-label" for="price-1">Low to High</label>
                                        </div>
                                        <!-- End .custom-checkbox -->
                                    </div>
                                    <!-- End .filter-item -->
                                    <br />

                                    <div class="filter-item">
                                        <div class="custom-control custom-radio">
                                            <input
                                                type="radio"
                                                class="custom-control-input"
                                                id="price-2"
                                                name="filter-price"
                                                onclick="priceSort(-1)"
                                                value=""
                                            />
                                            <label class="custom-control-label" for="price-2">High to Low </label>
                                        </div>
                                        <!-- End .custom-checkbox -->
                                    </div>
                                    <!-- End .filter-item -->
                                </div>
                                <!-- End .filter-items -->
                            </div>
                            <!-- End .widget-body -->
                        </div>
                        <!-- End .widget -->
                    </div>
                    <!-- End .sidebar sidebar-shop -->
                </aside>
                <!-- End .col-lg-3 -->
            </div>
            <!-- End .row -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End .page-content -->
</main>
<!-- End .main -->

<script>
    let categorycheckbox = new Array();
    let productvalue = null;
    let sortValue = null;
    let result=0 ;
    let resultleft=0 ;
    let pricdt = null;
    let Categoriesdt = null ;
    // let prlength=0

    function addtocart(i,p) {
              let productid = document.getElementById("productid")
              let productprice = document.getElementById("productprice")

              let valid = i
              let pric = p

                console.log("haiii")
                console.log(valid+"valid")
                console.log(pric+"price")
            fetch('/addcart', {
                method: 'put',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: valid,price:pric }) // Replace this with your data
            }).then((response) => {
                    return response.json();               
                })
            .then(response => {
                console.log(response)
                if(response.alredycart == 0){
                    // Handle the response as needed
                showToast('Product added');
                console.log('PUT request sent');
                }else{

                        // Handle the response as needed
                showToast('Product alredy added');
                console.log('PUT request sent');

                }
                
            })
            .catch(error => {
                // Handle any errors
                console.error('Error sending PUT request:', error);
            });
        }


        function addtowishlist(i,p) {
              let productid = document.getElementById("productid")
              let productprice = document.getElementById("productprice")

              let valid = i
              let pric = p

                console.log("haiii")
                console.log(valid+"valid")
                console.log(pric+"price")
            fetch('/addwishlist', {
                method: 'put',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: valid,price:pric }) // Replace this with your data
            }).then((response) => {
                    return response.json();               
                })
            .then(response => {
                console.log(response)
                if(response.alredycart == 0){
                    // Handle the response as needed
                showToast('Product added');
                console.log('PUT request sent');
                }else{

                        // Handle the response as needed
                showToast('Product alredy added');
                console.log('PUT request sent');

                }
                
            })
            .catch(error => {
                // Handle any errors
                console.error('Error sending PUT request:', error);
            });
        }


    //*********************** search ***********************//

    function productsearch(){        
        
        const value = document.getElementById("searchValue").value

        fetch("/poduct/search", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({ va: value }),
            })
                .then((response) => {
                    console.log("5....");
                    const result = response.json();
                    // console.log(result);
                    return result;
                })
                .then((data) => {
                    console.log("data==" + data);

                    resultcall(data);
                })
                .catch((err) => console.log(err));


        console.log(value)
    }


    //*********************** pagination ***********************//

    function pageright(value,len){  
        let innerValue = document.getElementById("innerValue").innerHTML
        // let innerSort = document.getElementById("innerValue").innerHTML
        result=result+value
        resultleft=result+4
        console.log("first")
        fetch("/poduct/pagin", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({ svalue: result, lvalue: value , checkbox: categorycheckbox, sortValue,innerValue}),
            })
                .then((response) => {
                    console.log("5....");
                    const result = response.json();
                    // console.log(result);
                    return result;
                })
                .then((data) => {
                    console.log( data);
                    // resultcall(data)
                    let nextpage = data.pop()

                    respagelenght(nextpage)
                    resultcall(data);
                    
                })
                .catch((err) => console.log(err));


        console.log(value)
    }


    

    //*********************** Sort ***********************//

    function priceSort(val){
        console.log(categorycheckbox,"===categorycheckbox")
        let innerVal = document.getElementById("innerValue").innerHTML
        console.log(innerVal,"innerValue");
        // return;
         sortValue = val;
        if (sortValue == 1) {
            document.getElementById("price-1").value = 1
            if(Categoriesdt == null){
                fetch("/poduct/sortfind", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({innerValue:innerVal, va: sortValue ,checkbox:categorycheckbox}),
            })
                .then((response) => {
 
                    const result = response.json();
                    return result;
                })
                .then((data) => {
                    let nextpage = data.pop()
                    respagelenght(nextpage)
                    resultcall(data);
                })
                .catch((err) => console.log(err));
            }
            
        } else if (sortValue == -1) {
            document.getElementById("price-2").value = -1
            fetch("/poduct/sortfind", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({innerValue:innerVal, va: sortValue ,checkbox:categorycheckbox}),
            })
                .then((response) => {
                    const result = response.json();
                    return result;
                })
                .then((data) => {

                    let nextpage = data.pop()
                    respagelenght(nextpage)
                    resultcall(data);

                    // let ogdata = data.pop()
                    // let nextpage = data[4]
                    // console.log(ogdata);
                    // console.log(nextpage);
                    // respagelenght(data)
                    // resultcall(data);
                })
                .catch((err) => console.log(err));
        }
    }

    //*********************** Category ***********************//

    function getCategory(name) {
        const category = name;
        sortValue = document.querySelector('input[name="filter-price"]:checked')?.value;

        console.log(sortValue,categorycheckbox,"======");

        if (categorycheckbox.includes(name)) {
            const index = categorycheckbox.indexOf(name);
            categorycheckbox.splice(index, 1);
        } else {
            categorycheckbox.push(name);
        }
        if (categorycheckbox.length == 0){
            if(sortValue == 1){
                console.log("sortValue == 1");
                fetch("/poduct/sortfind", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({ va: sortValue ,checkbox:categorycheckbox}),
            })
                .then((response) => {
                    const result = response.json();
                    return result;
                })
                .then((data) => {
                    // resultcall(data);
                    let nextpage = data.pop()
                    respagelenght(nextpage)
                    resultcall(data);
                });

            }else if(sortValue == -1){

                console.log("sortValue == -1");
                console.log(sortValue,categorycheckbox);

                fetch("/poduct/sortfind", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({ va: sortValue ,checkbox:categorycheckbox}),
            })
                .then((response) => {
                    const result = response.json();
                    return result;
                })
                .then((data) => {
                    console.log("popppppp");
                    // resultcall(data);
                    let nextpage = data.pop()
                    respagelenght(nextpage)
                    resultcall(data);
                });

            }else{
            fetch("/poduct/filter", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify(categorycheckbox),
            })
                .then((response) => {
                    const result = response.json();
                    return result;
                })
                .then((data) => {
                    // resultcall(data);
                    let nextpage = data.pop()
                    respagelenght(nextpage)
                    resultcall(data);
                });
            }
        }

        if (categorycheckbox.length > 0) {

            if(sortValue == 1){

                console.log("first");
                fetch("/poduct/sortfind", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({ va: sortValue ,checkbox:categorycheckbox}),
            })
                .then((response) => {
                    const result = response.json();
                    return result;
                })
                .then((data) => {
                    // resultcall(data);
                    let nextpage = data.pop()
                    respagelenght(nextpage)
                    resultcall(data);
                });

            }else if(sortValue == -1){

                console.log("second");
                fetch("/poduct/sortfind", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({ va: sortValue ,checkbox:categorycheckbox}),
            })
                .then((response) => {
                    const result = response.json();
                    return result;
                })
                .then((data) => {
                    // resultcall(data);
                    let nextpage = data.pop()
                    respagelenght(nextpage)
                    resultcall(data);
                });

            }else{
                console.log("third");

            fetch("/poduct/filter", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify(categorycheckbox),
            })
                .then((response) => {
                    const result = response.json();
                    return result;
                })
                .then((data) => {
                    // resultcall(data);
                    let nextpage = data.pop()
                    respagelenght(nextpage)
                    resultcall(data);
                });
            }
        }
    }

    //*********************** Resultcall ***********************//
    function respagelenght(data){

        let productdiv = document.getElementById("pageid");
        productdiv.innerHTML = "";
        // data.forEach((element,num)=>{
        //     const item =` <a class="page-link" href="#">${num}</a>`
        //     productdiv.innerHTML += item;
        // })
        // for(let i=1;i<=lengthRes;i++){
        //     const item =` <a class="page-link" href="#">${i}</a>`
        //     productdiv.innerHTML += item;
        // }
        // const item =` <a class="page-link" href="#" >${data}</a>`
        //     productdiv.innerHTML += item;

            const item = `<li class="page-item active" id="pageid" aria-current="page"><a class="page-link" href="#" id="innerValue">${data}</a></li>`
            productdiv.innerHTML += item;
    }

    function resultcall(data) {
        let productdiv = document.getElementById("sample");

        productdiv.innerHTML = "";

        data.forEach((element) => {
            // console.log(element.image);
            const item = ` 
        <div class="col-6 col-md-4 col-xl-3">
                                    <div class="product">
                                        <figure class="product-media">
                                    <span class="product-label label-new">New</span>

                                    <a href="/single-product?id=${element._id}">
                                        <img src="${element.image[0]}" alt="img" class="product-image" />
                                      
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action-vertical -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <!-- <a href="#">Appliances</a> -->
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html">${element.name}</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        ${element.price}
                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 12 Reviews )</span>
                                    </div><!-- End .rating-container -->
                                </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-md-4 col-xl-3 -->
        `;
            productdiv.innerHTML += item;
        });
    }
</script>

<%- include('../partials/user-footer') %>


